.courgette {
  font-family: 'Courgette', cursive !important; }

.lobster {
  font-family: 'Lobster', cursive !important; }

.comfortaa {
  font-family: 'Comfortaa', cursive !important; }

.mx-10 {
  margin-left: 10rem;
  margin-right: 10rem; }

body {
  margin: 0;
  padding: 0; }

.bg-primaryPerso {
  background-color: #1d809f !important; }

p {
  font-family: 'Comfortaa', cursive; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courgette', cursive; }

/* Nav  */
#mainNav {
  background-color: transparent; }
  #mainNav .nav-link {
    color: #f8f9fa; }
  #mainNav .navbar-brand {
    color: #f8f9fa; }
  #mainNav .nav-link:hover {
    color: #007bff !important; }
  #mainNav .navbar-brand:hover {
    color: #007bff !important; }
  #mainNav .nav-link.active {
    color: #007bff !important; }

#mainNav.navbar-scrolled {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff; }
  #mainNav.navbar-scrolled .nav-link {
    color: #212529; }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529; }

@media (max-width: 990px) {
  #mainNav {
    background-color: #fff; }
    #mainNav .navbar-brand {
      color: #212529; }
    #mainNav .nav-link {
      color: #212529; } }

/* HEADER  */
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0) 0%, rgba(68, 69, 70, 0.8) 100%), url("/image/imagePrincipael.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }

header.masthead h1 {
  font-size: 2.25rem; }

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0; }
  header.masthead p {
    font-size: 1.15rem; }
  header.masthead h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem; } }

/*  SECTION : PRESENTATION  */
.page-section {
  padding: 8rem 0; }
  @media (max-width: 1200px) {
    .page-section {
      padding: 1rem 0; } }

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: white; }

#presentation img {
  width: 380px;
  height: 380px;
  border-radius: 50%; }

#presentation .progress-bar {
  background-color: #fed136; }

#presentation .timeline-image-pres {
  width: 400px;
  height: 400px;
  text-align: center;
  color: white;
  border: 7px solid #343a40;
  border-radius: 80%;
  background-color: #eff1f3;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

@media (max-width: 1200px) {
  #presentation img {
    width: 280px;
    height: 280px; }
  #presentation .timeline-image-pres {
    width: 300px;
    height: 300px; }
  #presentation #imageContainer {
    width: 320px;
    margin: 20px auto; } }

@media (max-width: 820px) {
  #presentation img {
    width: 180px;
    height: 180px; }
  #presentation .timeline-image-pres {
    width: 200px;
    height: 200px; }
  #presentation #imageContainer {
    width: 210px;
    margin: auto auto; }
  #presentation #containerPresentationTexte {
    margin-left: 3rem;
    margin-right: 3rem; } }

/* Formation  */
.timeline {
  position: relative;
  padding: 0;
  list-style: none; }

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef; }

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px; }

.timeline > li:after,
.timeline > li:before {
  display: table;
  content: ' '; }

.timeline > li:after {
  clear: both; }

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left; }

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0; }

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0; }

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0; }

.timeline > li:last-child {
  margin-bottom: 0; }

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit; }

.timeline .timeline-heading h4.subheading {
  text-transform: none; }

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px; }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right; }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px; }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px; }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left; } }

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px; }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px; }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px; }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px; }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px; }
  .timeline > li .timeline-image h4 {
    margin-top: 40px; }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px; } }

.rounded-circle {
  border-radius: 50% !important; }

.img-fluid {
  width: 100% !important;
  height: 98% !important; }

/*  Skills  */
#skills {
  background-color: #343a40; }
  #skills #left h3,
  #skills #right h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
    color: #f8f9fa;
    margin: 0; }
  #skills #left .divSkills,
  #skills #right .divSkills {
    width: 250px;
    padding-bottom: 1rem; }
  #skills #skillsCol .trait {
    width: 10px;
    background-color: #f8f9fa;
    height: 270px;
    border-radius: 30px; }
  @media (max-width: 767px) {
    #skills #left h3,
    #skills #right h3 {
      font-family: 'Comfortaa', cursive;
      font-size: 1.2rem;
      color: #f8f9fa;
      margin: 0; }
    #skills #left .divSkills,
    #skills #right .divSkills {
      width: 250px;
      padding-bottom: 1.8rem; } }

/* Section Projet */
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  height: 300px;
  margin: auto auto 1rem; }

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1; }

.portfolio-item .caption .caption-content {
  color: black;
  margin: auto auto; }

.portfolio-item .caption .caption-content h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

.portfolio-item .caption .caption-content p {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center; }

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0; }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px); }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem; }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px); }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem); }
  .portfolio-item:hover .caption {
    background-color: rgba(226, 234, 236, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem); } }

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem; }

.content-section-heading h2 {
  font-size: 3rem; }

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase; }

/* Footer contact */
footer {
  background-color: #343a40;
  height: 200px; }
  @media (max-width: 400px) {
    footer {
      height: 220px; } }
  footer form {
    width: 400px; }
    @media (max-width: 450px) {
      footer form {
        width: 200px; } }
    footer form input::placeholder {
      text-align: center; }
