* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6em; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem; }

.title-medium {
  letter-spacing: 1rem;
  font-size: 2.5rem;
  font-style: italic; }

.text-primary {
  color: var(--primary); }

.text-hint {
  color: var(--hint); }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mr-5 {
  margin-left: 4.5rem !important; }

@keyframes bounce {
  0% {
    transform: rotate(-45deg); }
  10% {
    transform: rotate(35deg); }
  70% {
    transform: rotate(20deg); }
  80% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes bound {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0px); } }

.grid-container {
  display: grid;
  min-height: 100vh;
  grid: 'picture header' auto 'aside main' 1fr / 350px auto; }

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 10rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header span {
    display: inline-block;
    animation: bound 2s; }
  header h1 {
    font-size: 6rem;
    line-height: 8rem;
    letter-spacing: 3rem;
    font-weight: 300; }
  header p {
    letter-spacing: 0.5rem; }

.picture {
  grid-area: picture;
  padding: 6rem;
  background: var(--background);
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border); }
  .picture img {
    transition: all 0.2s;
    border-radius: 50%; }
    .picture img:hover {
      transform: scale(1.2); }

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border);
  padding: 5rem; }
  aside .sticky {
    position: sticky;
    top: 20px; }
  aside .block {
    margin-bottom: 5rem; }
    aside .block h3 {
      margin-bottom: 0;
      font-size: 1.5rem; }
    aside .block p {
      margin: 0 0 2rem 0;
      font-style: italic; }
    aside .block .adresse {
      cursor: pointer; }
      aside .block .adresse:hover {
        background: var(--border); }
      aside .block .adresse a {
        margin: 0 0 2rem 0;
        font-style: italic; }
    aside .block .Dynamique {
      width: 80%;
      left: calc(80% - 5px); }
    aside .block .Motive {
      width: 100%;
      left: calc(100% - 5px); }
    aside .block .TeamPlayer {
      width: 70%;
      left: calc(70% - 5px); }
    aside .block .bar-skill {
      margin: 2rem 0;
      height: 5px;
      background: var(--hint);
      position: relative; }
      aside .block .bar-skill:hover .score {
        display: block;
        position: absolute;
        background: white;
        top: -20px;
        width: 40px;
        color: var(--text); }
      aside .block .bar-skill .bar-skill-progress {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        top: -2.5px;
        transform: rotate(45deg); }
      aside .block .bar-skill .score {
        display: none; }
    aside .block .stars-container {
      display: flex;
      margin: 2rem 0 3rem 0; }
      aside .block .stars-container i {
        font-size: 2rem;
        margin: 0 1rem; }
    aside .block .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1rem 1rem;
      border-radius: 5px;
      transition: all 0.2s;
      cursor: pointer; }
      aside .block .social-container:hover {
        background: var(--border); }
        aside .block .social-container:hover i {
          color: var(--primary);
          transform: scale(1.2);
          transition: all 0.2s; }
      aside .block .social-container i {
        flex: 0 0 50px;
        margin-right: 1rem;
        font-size: 2rem; }
      aside .block .social-container a {
        flex: auto;
        margin: 0; }
    aside .block .english {
      display: flex;
      justify-content: space-between; }
      aside .block .english h4 {
        font-style: italic;
        color: var(--hint); }

main {
  grid-area: main;
  padding: 5rem; }
  main h2 {
    margin-bottom: 4rem;
    background: linear-gradient(to left, var(--primary), var(--light));
    color: white;
    text-align: center;
    border-radius: 30px; }
  main p {
    letter-spacing: 0.1rem;
    line-height: 3rem; }
  main .formation {
    display: flex;
    margin: 6rem 0; }
    main .formation .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border); }
      main .formation .timeline p {
        margin: 0;
        width: 90px; }
    main .formation .content {
      padding: 0 1rem; }
      main .formation .content h3 {
        margin: 0; }
      main .formation .content p {
        margin: 0; }
      main .formation .content ul {
        margin: 0 0 2rem 0;
        list-style: circle;
        padding-left: 4rem; }
    main .formation a {
      font-style: italic;
      color: var(--hint); }
  main .experience {
    display: flex;
    margin: 6rem 0; }
    main .experience .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border); }
      main .experience .timeline p {
        margin: 0;
        width: 90px; }
    main .experience .content {
      padding: 0 1rem; }
      main .experience .content h3 {
        margin: 0; }
      main .experience .content p {
        margin: 0; }
      main .experience .content ul {
        margin: 0 0 2rem 0;
        list-style: circle;
        padding-left: 4rem; }
  main .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    main .skills .trait {
      background: var(--text);
      width: 2px; }
    main .skills .left {
      display: flex;
      flex-direction: column; }
      main .skills .left h3 {
        margin: 0 2rem 0 0; }
      main .skills .left div {
        justify-content: space-between;
        display: flex; }
    main .skills .right {
      display: flex;
      flex-direction: column; }
      main .skills .right h3 {
        margin: 0 0 0 2rem; }
      main .skills .right div {
        justify-content: space-between;
        display: flex;
        flex-direction: row-reverse; }
    main .skills .stars-container {
      display: flex;
      margin: 0; }
      main .skills .stars-container i {
        font-size: 2rem; }
  main .hobbies {
    display: flex;
    margin: 6rem 0; }
    main .hobbies .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border); }
      main .hobbies .timeline p {
        margin: 0;
        width: 90px; }
    main .hobbies .content {
      padding: 0 1rem; }
      main .hobbies .content h3 {
        margin: 0; }
      main .hobbies .content p {
        margin: 0; }
    main .hobbies a {
      font-style: italic;
      color: var(--hint); }
