@import 'reset';
@import 'base';
@import 'classes';
@import 'utils';
@import 'animations';
.grid-container {
  display: grid;
  min-height: 100vh;
  grid:
    'picture header' auto
    'aside main' 1fr
    / 350px auto;
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 10rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    display: inline-block;
    animation: bounce 2s;
  }
  h1 {
    font-size: 6rem;
    line-height: 8rem;
    letter-spacing: 3rem;
    font-weight: 300;
  }
  p {
    letter-spacing: 0.5rem;
  }
}

.picture {
  grid-area: picture;
  padding: 6rem;
  background: var(--background);
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border);
  img {
    transition: all 0.2s;
    &:hover {
      transform: scale(1.2);
    }
    border-radius: 50%;
  }
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border);
  padding: 5rem;
  .sticky {
    position: sticky;
    top: 20px;
  }
  .block {
    margin-bottom: 5rem;
    h3 {
      margin-bottom: 0;
      font-size: 1.5rem;
    }
    p {
      margin: 0 0 2rem 0;
      font-style: italic;
    }

    .adresse {
      cursor: pointer;
      &:hover {
        background: var(--border);
      }
      a {
        margin: 0 0 2rem 0;
        font-style: italic;
      }
    }

    .Dynamique {
      width: 80%;
      left: calc(80% - 5px);
    }
    .Motive {
      width: 100%;
      left: calc(100% - 5px);
    }
    .TeamPlayer {
      width: 70%;
      left: calc(70% - 5px);
    }
    .bar-skill {
      margin: 2rem 0;
      height: 5px;
      background: var(--hint);
      position: relative;

      &:hover {
        .score {
          display: block;
          position: absolute;
          background: white;
          top: -20px;
          width: 40px;
          color: var(--text);
        }
      }
      .bar-skill-progress {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        background: var(--light);
      }
      .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);

        top: -2.5px;
        transform: rotate(45deg);
      }
      .score {
        display: none;
      }
    }
    .stars-container {
      display: flex;
      margin: 2rem 0 3rem 0;
      i {
        font-size: 2rem;
        margin: 0 1rem;
      }
    }
    .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1rem 1rem;
      border-radius: 5px;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        background: var(--border);
        i {
          color: var(--primary);
          transform: scale(1.2);
          transition: all 0.2s;
        }
      }
      i {
        flex: 0 0 50px;
        margin-right: 1rem;
        font-size: 2rem;
      }
      a {
        flex: auto;
        margin: 0;
      }
    }
    .english {
      display: flex;
      justify-content: space-between;
      h4 {
        font-style: italic;
        color: var(--hint);
      }
    }
  }
}
main {
  grid-area: main;
  padding: 5rem;
  h2 {
    margin-bottom: 4rem;
    background: linear-gradient(to left, var(--primary), var(--light));
    color: white;
    text-align: center;
    border-radius: 30px;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }

  .formation {
    display: flex;
    margin: 6rem 0;
    .timeline {
      text-align: center;

      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin: 0;
        width: 90px;
      }
    }
    .content {
      padding: 0 1rem;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
      ul {
        margin: 0 0 2rem 0;
        list-style: circle;
        padding-left: 4rem;
      }
    }
    a {
      font-style: italic;
      color: var(--hint);
    }
  }
  .experience {
    display: flex;
    margin: 6rem 0;
    .timeline {
      text-align: center;

      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin: 0;
        width: 90px;
      }
    }
    .content {
      padding: 0 1rem;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
      ul {
        margin: 0 0 2rem 0;
        list-style: circle;
        padding-left: 4rem;
      }
    }
  }
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .trait {
      background: var(--text);
      width: 2px;
    }
    .left {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0 2rem 0 0;
      }
      div {
        justify-content: space-between;
        display: flex;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0 0 0 2rem;
      }
      div {
        justify-content: space-between;
        display: flex;
        flex-direction: row-reverse;
      }
    }
    .stars-container {
      display: flex;
      margin: 0;
      i {
        font-size: 2rem;
      }
    }
  }
  .hobbies {
    display: flex;
    margin: 6rem 0;
    .timeline {
      text-align: center;

      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin: 0;
        width: 90px;
      }
    }
    .content {
      padding: 0 1rem;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    a {
      font-style: italic;
      color: var(--hint);
    }
  }
}
